# Python lists and tuples

## Lists: simple, nested, empty

Lists are collections of any number (0, 1, 2, ...) of elements (possibly of different types).  
In a list, each element has its position. The index numbers the positions. Note, that the first position has index zero.  
After a list is created it can be changed - elements can be added, removed or modified.

Let's start with a list of elements of the same type:

In [1]:
dailyKCal = [ 2330, 1990, 2150, 2290, 1920, 2370, 2050 ]
dailyKCal

[2330, 1990, 2150, 2290, 1920, 2370, 2050]

In [2]:
days = [ "Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun" ]
days

['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']

In [3]:
goodMoods = [ True, True, False, True, True, False, True ]
goodMoods

[True, True, False, True, True, False, True]

The `type(...)` function can be used to check whether an object is of type `list`:

In [4]:
type( goodMoods )

list

In [5]:
type( [ 2330, 1990, 2150 ] )

list

A list may also contain elements of different types:

In [6]:
dataDay1 = [ 2330, "Mon", True ]

In particular, lists can be nested. Here are two examples of lists containing other lists:

In [7]:
dataByDays = [ [ 2330, "Mon", True ], [ 1990, "Tue", True ], [ 2150, "Wed", False ] ]
dataByDays

[[2330, 'Mon', True], [1990, 'Tue', True], [2150, 'Wed', False]]

In [8]:
type(dataByDays)

list

In [9]:
dataByVars = [ dailyKCal, days, goodMoods ]
dataByVars

[[2330, 1990, 2150, 2290, 1920, 2370, 2050],
 ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
 [True, True, False, True, True, False, True]]

Note, a list can also be empty. A new empty list can be created as follows:

In [10]:
[]

[]

## Tuples

Tuples are also collections of any number (0, 1, 2, ...) of elements (possibly of different types).  
In a tuple, each element has its position. The index numbers the positions. Note, that the first position has index zero.  
**Tuples are immutable** - once a tuple is created, it is not possible to change the elements.    
(list is changeable)

Tupes are created with a syntax similar to lists. For tuples use `(...)` instead of `[...]`:

In [ ]:
dailyKCal = ( 2330, 1990, 2150, 2290, 1920, 2370, 2050 )
dailyKCal

In [ ]:
type( dailyKCal )

Because `(` and `)` are also used in arithmetics, a special notation (with an extra `,`) is needed to create a tuple with exactly one element:

In [11]:
singleDayTuple = ( "Mon", )   ## 当只有一个element的时候，要在里面加逗号
type( singleDayTuple )

tuple

In [12]:
eg=('mon')
type(eg)

str

Compare:

In [13]:
type( ( 1 ) )

int

In [14]:
type( ( 1, ) )

tuple

An empty tuple is `()`.

Note the assignment of a tuple to multiple variables:

In [ ]:
x, y, z = ( "a", True, 0 )

## Concatenation are repetition

Let's assume that each list below describes some preparation steps:

In [15]:
americano = [ "espresso", "hot water" ]
caffe_latte = [ "espresso", "steamed milk" ]
latte_macchiato = [ "steamed milk", "espresso" ]
apple_pie_set = [ "apple pie", "whipped cream" ]

Then, steps for a larger order can be combined using list concatentation (`+`) and list repetition (`*`) operators:

In [16]:
order_steps = 2 * americano + caffe_latte + 3 * apple_pie_set + latte_macchiato
order_steps

['espresso',
 'hot water',
 'espresso',
 'hot water',
 'espresso',
 'steamed milk',
 'apple pie',
 'whipped cream',
 'apple pie',
 'whipped cream',
 'apple pie',
 'whipped cream',
 'steamed milk',
 'espresso']

Concatenation and repetition works also for tuples.
Concatenating a tuple with a list leads to an error.

In [ ]:
# ( 1, ) + [ 2 ]     # Leads to TypeError

## Access/change of a single element

Let's define a list (or a tuple):

In [17]:
days = [ "Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun" ]
days

['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']

The first element of a list/tuple can be accessed at index zero:

In [18]:
days[0]

'Mon'

To calculate the total number of elements (length) in a list/tuple use `len(...)`:

In [19]:
len( days )

7

The last element of a list/tuple can be accessed as follows:

In [20]:
days[ len(days)-1 ]

'Sun'

Negative index allows accessing elements relative to the end. Another way to access the last element is:

In [22]:
days[ -1 ]  ##倒数第一个element

'Sun'

Usage of an index beyond the range of elements present in a list/tuple raises an error exception:

In [ ]:
# days[7]                # IndexError: tuple index out of range 
                         # valid indexes are 0,1,2,3,4,5,6

In lists the elements can be modified:

In [ ]:
days = [ "Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun" ]
days[0] = "MONDAY"       # works fine, days is a list
days

But the tuples are immutable - the following code raises an error exception:

In [ ]:
days = ( "Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun" )
# days[0] = "MONDAY"     # TypeError: 'tuple' object does not support item assignment

## Access/change of multiple elements

The slice operator `[n:m]` applied to a list/tuple gets its elements from the positions `n`...`m-1` and creates a new list/tuple containing only them:

In [30]:
# ----- the following few code cells work both for lists and tuples -----
# days = ( "Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun" )
days = [ "Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun" ]
days[2:5]                # note: Elements with indexes 2,3 and 4 (but not 5).   ##不包括5
                         #       "Mon" has index 0.

['Wed', 'Thu', 'Fri']

`[:m]` denotes indexes from the beginning (`0`) till `m-1`:

In [24]:
workingDays = days[:5]  ##01234
workingDays

['Mon', 'Tue', 'Wed', 'Thu', 'Fri']

Similarly, `[n:]` denotes indexes from `n` till the last:

In [25]:
weekendDays = days[5:] ##56
weekendDays

['Sat', 'Sun']

Consequently, a slice `[:]` makes a separate copy of the whole list:

In [26]:
copiedDays = days[:]

Slicing `[n:m:step]` can take an extra `step` argument:

In [27]:
days[1:6:2]  #1，3，5

['Tue', 'Thu', 'Sat']

The `step` argument can be negative:

In [28]:
days[6:1:-2]  ##6，4，2

['Sun', 'Fri', 'Wed']

In lists, several elements can be modified as follows:

In [29]:
# ----- modification here, so it can't be a tuple -----
days = [ "Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun" ]
days[2:3] = [ "TUESDAY", "WEDNESDAY" ]
days

['Mon', 'Tue', 'TUESDAY', 'WEDNESDAY', 'Thu', 'Fri', 'Sat', 'Sun']

Note, that elements can be not only modified but also added/removed (i.e. the total length of the list changes):

In [31]:
# ----- modification here, so it can't be a tuple -----
days = [ "Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun" ]
days[2:3] = [ "TUESDAY", "moon-eclipse-night!!!", "WEDNESDAY" ]
days

['Mon',
 'Tue',
 'TUESDAY',
 'moon-eclipse-night!!!',
 'WEDNESDAY',
 'Thu',
 'Fri',
 'Sat',
 'Sun']

## Shallow and deeper copying

Study the following example:

In [33]:
v = [ 1, 2, 3 ]   # []      allocates a new list
                  # 1,2,3   fills the list with 1, 2, 3
                  # v =     makes v point to the list
w = v             # w = v   makes w point to the same thing as v
v[0] = 100        #         changes the element of the list
v

[100, 2, 3]

Because both `v` and `w` point to the same list, `w` has been also changed:

In [34]:
w

[100, 2, 3]

When the above behaviour is not desired, a deeper `copy()` needs to be enforced:

In [35]:
v = [ 1, 2, 3 ]
w = v.copy()      # a new list is allocated
                  # the elements of v are appended to the new list
v[0] = 100
v

[100, 2, 3]

Now, the change of `v` has not affected `w`:

In [36]:
w

[1, 2, 3]

## List comprehensions

Let's introduce a very powerful mechanisms allowing to perform operations on all elements of lists, tuples (or other iterable objects).

The following list comprehension code:
- produces a list: it is a list comprehension because of surrounding brackets `[` ... `]`
- iterates through `someNums` (whatever object which can be iterated over)
- in each iteration `x` is set to a next element value (`for x in`)
- the result of expression `x**2` is stored to the output list

In [37]:
someNums = [ 1, -2, 3, -4, 5 ]        # an iterable object
[x**2 for x in someNums]              # a list comprehension

[1, 4, 9, 16, 25]

Here, each iteration produces a tuple with two elements `(x, x**2)`. So the result is a list of tuples:

In [38]:
someNums = [ 1, -2, 3, -4, 5 ]        # an iterable object
[(x,x**2) for x in someNums]          # each element is a tuple

[(1, 1), (-2, 4), (3, 9), (-4, 16), (5, 25)]

In [39]:
type([(1, 1), (-2, 4), (3, 9), (-4, 16), (5, 25)])

list

Note, that the list comprehension notation also allows for filtering (here: `x<0`):

In [ ]:
someNums = [ 1, -2, 3, -4, 5 ]        # an iterable object
[x for x in someNums if x<0]          # only negative elements are processed

## Self-study tasks

### Understand errors

Try the following cells to get familiar with error messages.  
Explain the errors.

In [ ]:
nums = ( 1, 2, 3 )
#nums[1] = 22              # what's wrong here?

In [ ]:
# SOLUTION
# a tuple can't be modified

In [ ]:
nums = [ 1, 2, 3 ]
#nums[3] = 4               # what's wrong here?

In [ ]:
# SOLUTION
# There is no element at index 3. The valid indexes are 0,1,2.

In [ ]:
txt = "Statistics"
#txt[0] = "s"              # what's wrong here?

In [ ]:
# SOLUTION
# A str object (text) is immutable.

### Understand difference

Why `a` differs from `b`?

In [40]:
v = [ 1, 2, 3 ]
a = v
v = [ 4, 5, 6 ]
a

[1, 2, 3]

In [41]:
v = [ 1, 2, 3 ]
b = v
v[:] = [ 4, 5, 6 ]
b

[4, 5, 6]

In [ ]:
# SOLUTION
# A list consist of two parts, the list object and the list data.
#
# v = [ 1, 2, 3 ]         # this creates data 1,2,3; a list object pointing to these data; v points to the list object
# a = v                   # a and v point to the same object
# v = [ 4, 5, 6 ]         # this creates data 4,5,6; another list object pointing to 4,5,6; v points to the new list
# a                       # a is no longer related to v
#
# v = [ 1, 2, 3 ]         # this creates data 1,2,3; a list object pointing to these data; v points to the list object
# b = v                   # b and v point to the same object
# v[:] = [ 4, 5, 6 ]      # inside of the list pointed by v, the data is changed to new data [4,5,6]
# b                       # b and v still point to the same list object

### Changing (or not) lists

Let's assume that a vector `v` with several random numbers is given (an example below).  
Check Python `list` manuals to find programmatic ways in place marked with `...` to produce the various goals requested below.

In [ ]:
v = [ 5, 2, 1, 4, 3 ]
# ...
# Here v should be sorted in ascending order [ 1, 2, 3, 4, 5 ]

In [42]:
# SOLUTION
v = [ 5, 2, 1, 4, 3 ]
v.sort()
v

[1, 2, 3, 4, 5]

In [ ]:
v = [ 5, 2, 1, 4, 3 ]
# ...
# Here v should be sorted in descending order [ 5, 4, 3, 2, 1 ]

In [43]:
# SOLUTION
v = [ 5, 2, 1, 4, 3 ]
v.sort(reverse=True)
v

[5, 4, 3, 2, 1]

In [ ]:
v = [ 5, 2, 1, 4, 3 ]
w = v
# ...
# Here v should be sorted [ 1, 2, 3, 4, 5 ] but w should still be [ 5, 2, 1, 4, 3 ]

In [44]:
# SOLUTION
v = [ 5, 2, 1, 4, 3 ]
w = v
v = v.copy()
v.sort()
v

[1, 2, 3, 4, 5]

In [ ]:
v = [ 5, 2, 1, 4, 3 ]
# ...
# Here v should be reversed [ 3, 4, 1, 2, 5 ]

In [ ]:
# SOLUTION
v = [ 5, 2, 1, 4, 3 ]
v.reverse()
v

In [ ]:
v = [ 5, 2, 1, 4, 3 ]
w = v
# ...
# Here v should be reversed [ 3, 4, 1, 2, 5 ] but w should still be [ 5, 2, 1, 4, 3 ]

In [ ]:
# SOLUTION
v = [ 5, 2, 1, 4, 3 ]
w = v
v = v.copy()
v.reverse()
v

In [ ]:
v = [ "eeeee", "bb", "a", "dddd", "ccc", "bb" ]
# ...
# Here, the third element should be deleted from v: [ "eeeee", "bb", "dddd", "ccc", "bb" ]

In [45]:
# SOLUTION
v = [ "eeeee", "bb", "a", "dddd", "ccc", "bb" ]
v.pop(2)
v

['eeeee', 'bb', 'dddd', 'ccc', 'bb']

In [51]:
#another solution
v = [ "eeeee", "bb", "a", "dddd", "ccc", "bb" ]
v.remove('a')
v

['eeeee', 'bb', 'dddd', 'ccc', 'bb']

In [ ]:
v = [ "eeeee", "bb", "a", "dddd", "ccc", "bb" ]
# ...
# Here, the first element with value "bb" should be removed from v: [ "eeeee", "a", "dddd", "ccc", "bb" ]
# Any ideas how to filter out all "bb" elements?

In [ ]:
# SOLUTION
v = [ "eeeee", "bb", "a", "dddd", "ccc", "bb" ]
v.remove("bb")
v

In [ ]:
v = [ "eeeee", "bb", "a", "dddd", "ccc", "bb" ]
# ...
# Insert element "F" to v at index 2

In [48]:
# SOLUTION
v = [ "eeeee", "bb", "a", "dddd", "ccc", "bb" ]
v.insert( 2, 'F' )
v

['eeeee', 'bb', 'F', 'a', 'dddd', 'ccc', 'bb']

In [50]:
##another solution
v = [ "eeeee", "bb", "a", "dddd", "ccc", "bb" ]
v[2:2]='F'
v

['eeeee', 'bb', 'F', 'a', 'dddd', 'ccc', 'bb']

In [ ]:
v = [ "eeeee", "bb", "a", "dddd", "ccc", "bb" ]
w = [ "ffffff", "g", "ffffff" ]
# ...
# Insert ("slice in") elements of w to v at index 2 (so, that v gets length 9 and v[2:5] has elements from w).

In [47]:
# SOLUTION
v = [ "eeeee", "bb", "a", "dddd", "ccc", "bb" ]
w = [ "ffffff", "g", "ffffff" ]
v[2:2] = w
v

['eeeee', 'bb', 'ffffff', 'g', 'ffffff', 'a', 'dddd', 'ccc', 'bb']

In [ ]:
v = [ "eeeee", "bb", "a", "dddd", "ccc", "bb" ]
# ...
# Here, a single new element "F" should be *appended* to the end of the list

In [ ]:
# SOLUTION
v = [ "eeeee", "bb", "a", "dddd", "ccc", "bb" ]
v.append( "F" )
v

In [52]:
v = [ "eeeee", "bb", "a", "dddd", "ccc", "bb" ]
w = [ "ffffff", "g", "ffffff" ]
# ...
# Extend the list by append elements of w to v at the end of v. (so, length of v should be 9!)
# What goes wrong with `append(w)` here?

In [56]:
# SOLUTION
v = [ "eeeee", "bb", "a", "dddd", "ccc", "bb" ]
w = [ "ffffff", "g", "ffffff" ]
v.extend(w)
v
##v.extend([ "ffffff", "g", "ffffff" ])也可以

['eeeee',
 'bb',
 'a',
 'dddd',
 'ccc',
 'bb',
 'ffffff',
 'g',
 'ffffff',
 'ffffff',
 'g',
 'ffffff']

### Checking membership

In [ ]:
v = [ "ababab", "baaab", "bbbaa", "aabba", "aaaab", "abbaa", "aabbb", "abaaa", "aaaaa", "bbbab", "bbbqb", "aaaqb", "bbbbq" ]
w = "bbbab"
# ...
# How to programmatically find whether the value of w is *in* the iterable list v?
# The result should be True or False

In [57]:
# SOLUTION
v = [ "ababab", "baaab", "bbbaa", "aabba", "aaaab", "abbaa", "aabbb", "abaaa", "aaaaa", "bbbab", "bbbqb", "aaaqb", "bbbbq" ]
w = "bbbab"
w in v

True

In [ ]:
v = [ "ababab", "baaab", "bbbaa", "aabba", "aaaab", "abbaa", "aabbb", "abaaa", "aaaaa", "bbbab", "bbbqb", "aaaqb", "bbbbq" ]
w = "abaab"
# ...
# How to programmatically find whether the value of w is *not in* the iterable list v?
# The result should be True or False

In [58]:
# SOLUTION
v = [ "ababab", "baaab", "bbbaa", "aabba", "aaaab", "abbaa", "aabbb", "abaaa", "aaaaa", "bbbab", "bbbqb", "aaaqb", "bbbbq" ]
w = "abaab"
w not in v

True

### Understand conversions

In [59]:
lst = [1,2,3,"x","y","z"]
tuple( lst )              # the argument can be any object which can be iterated over

(1, 2, 3, 'x', 'y', 'z')

In [ ]:
# SOLUTION
# tuple(...) creates a tuple out of provided iterable

In [60]:
tpl = (1,2,3,"x","y","z")
list( tpl )               # the argument can be any object which can be iterated over

[1, 2, 3, 'x', 'y', 'z']

In [ ]:
# SOLUTION
# list(...) creates a list out of provided iterable

In [61]:
tuple( "Statistics" )     # "Statistics" can be iterated over

('S', 't', 'a', 't', 'i', 's', 't', 'i', 'c', 's')

In [ ]:
# SOLUTION
# Here str text is iterated. Iteration of text provides single characters. As tuple.

In [ ]:
list( 'Data Science' )

In [ ]:
# SOLUTION
# Here str text is iterated. Iteration of text provides single characters. As list.

### Practice comprehensions and try a generator

Let's write a simple comprehension first:

In [ ]:
xs = [ 0, 1, 2, 3, 4, 5 ]
# ys = [ ... ]            # write a comprehension to transform 
                          #   elements of xs according to formula:
                          #   y = x^2 + x + 1

In [65]:
# SOLUTION
xs = [ 0, 1, 2, 3, 4, 5 ]
ys = [x**2+x+1 for x in xs]
ys

[1, 3, 7, 13, 21, 31]

Next, read about `range(...)` and use it to rewrite the definition of `xs` in the above code.  
Check the type of `xs`. Note, that `xs` created by `range(...)` is not a list but the comprehesion still works (once).  
Can you explain the mechanism (keyword: iterable)?

In [ ]:
# xs = range( ... )      # it should correspond to these numbers [ 0, 1, 2, 3, 4, 5 ]
# ys = [ ... ]           # as before: y = x^2 + x + 1

In [67]:
type(range(0,6))

range

In [68]:
xs=range(0,6)
xs

range(0, 6)

In [66]:
# SOLUTION
xs = range(0,6)  
# type(xs)               # range, it is a generator
#but it present 012345
ys = [x**2+x+1 for x in xs]
ys

[1, 3, 7, 13, 21, 31]

Now, write a comprehension to remove all elements equal to `toRemove` from `v`:

In [ ]:
toRemove = "bb"
v = [ "eeeee", "bb", "a", "dddd", "ccc", "bb" ]
# w = [ ... for ... if ... ]     # w should not have elements equal the value of toRemove

In [ ]:
# SOLUTION
toRemove = "bb"
v = [ "eeeee", "bb", "a", "dddd", "ccc", "bb" ]
w = [ e for e in v if e != toRemove ]
w

Next, generalize the last comprehension to handle a situation when `toRemove` contains more than one element.  
Read about the `in` operator for lists and about `not` logical operator.

In [ ]:
toRemove = [ "bb", "a" ]
v = [ "eeeee", "bb", "a", "dddd", "ccc", "bb" ]
# w = [ ... for ... if ... ]     # w should *not* have elements *in* toRemove list
w

In [ ]:
# SOLUTION
toRemove = [ "bb", "a" ]
v = [ "eeeee", "bb", "a", "dddd", "ccc", "bb" ]
w = [ e for e in v if e not in toRemove ]
w

In [ ]:
v = [ "ababab", "baaab", "bbbaa", "aabba", "aaaab", "abbaa", "aabbb", "abaaa", "aaaaa", "bbbab", "bbbqb", "aaaqb", "bbbbq" ]
w = [ "aaaqb", "abbaa", "ababab" ]
# ...
# Write a statement checking whether *all* elements of w are *in* v.
# The result should be a single True or False value.

In [70]:
# SOLUTION
v = [ "ababab", "baaab", "bbbaa", "aabba", "aaaab", "abbaa", "aabbb", "abaaa", "aaaaa", "bbbab", "bbbqb", "aaaqb", "bbbbq" ]
w = [ "aaaqb", "abbaa", "ababab" ]
all( (e in v for e in w) )

True

In [73]:
##another different solution
v = [ "ababab", "baaab", "bbbaa", "aabba", "aaaab", "abbaa", "aabbb", "abaaa", "aaaaa", "bbbab", "bbbqb", "aaaqb", "bbbbq" ]
w = [ "aaaqb", "abbaa", "ababab" ]
[e in v for e in w]

[True, True, True]

In [74]:
v = [ "ababab", "baaab", "bbbaa", "aabba", "aaaab", "abbaa", "aabbb", "abaaa", "aaaaa", "bbbab", "bbbqb", "aaaqb", "bbbbq" ]
w = [ "abaaa", "bbbab", "qbbbq" ]
# ...
# Write a statement checking whether *any* element of w is *not in* v.
# The result should be a single True or False value.

In [75]:
# SOLUTION
v = [ "ababab", "baaab", "bbbaa", "aabba", "aaaab", "abbaa", "aabbb", "abaaa", "aaaaa", "bbbab", "bbbqb", "aaaqb", "bbbbq" ]
w = [ "abaaa", "bbbab", "qbbbq" ]
any( (e not in v for e in w) )

True

### Comprehensions with tuple elements

`zip(...)` can be used to build tuples out of elements of two iterables. Tuples of elements at the same positions can be iterated over. It also works for more than two lists.

In [76]:
heights = [ 173, 179, 167, 195, 173, 184, 162, 169 ]  # 8 persons
weights = [ 57, 58, 62, 84, 64, 74, 57, 44 ]          # same 8 persons, same order
zip( heights, weights )                # this is a generator of ( height, weight ) tuples
list( zip( heights, weights ) )        # when converted to list you see the tuples
# ...
# Write a statement generating list of BMIs for the 8 persons.
# Hint: [ ... for h, v in ... ]

[(173, 57),
 (179, 58),
 (167, 62),
 (195, 84),
 (173, 64),
 (184, 74),
 (162, 57),
 (169, 44)]

In [ ]:
# SOLUTION
heights = [ 173, 179, 167, 195, 173, 184, 162, 169 ]  # 8 persons
weights = [ 57, 58, 62, 84, 64, 74, 57, 44 ]          # same 8 persons, same order
zip( heights, weights )                # this is a generator of ( height, weight ) tuples
[w/((h/100)**2) for h, w in zip( heights, weights )]

`enumerate(...)` adds information at which index an element is:

In [79]:
heights = [ 173, 179, 167, 195, 173, 184, 162, 169 ]  # 8 persons
enumerate( heights )                   # this is a generator of ( index, element ) tuple pairs
tuple( enumerate( heights ) )          # do you understand this result?

((0, 173),
 (1, 179),
 (2, 167),
 (3, 195),
 (4, 173),
 (5, 184),
 (6, 162),
 (7, 169))

### Indexing nested list

Let's consider the following nested list:

In [80]:
nestedList = [ "a", [ "ba", [ "bba", "bbb" ], "bc", [ "bda", "bdb" ], "be" ], "c", [ [ "daa", "dab" ] ] ]
nestedList

['a',
 ['ba', ['bba', 'bbb'], 'bc', ['bda', 'bdb'], 'be'],
 'c',
 [['daa', 'dab']]]

In [82]:
nestedList[2]

'c'

In [83]:
nestedList[1:2]

[['ba', ['bba', 'bbb'], 'bc', ['bda', 'bdb'], 'be']]

In [84]:
nestedList[1][1]

['bba', 'bbb']

In [86]:
nestedList[3][0][1]

'dab'

In [88]:
nestedList[2][0]

'c'

In [87]:
nestedList[3][0][0][2]

'a'

In [89]:
nestedList[3][0][0][2::-1]

'aad'

Without running the code do you know what will be the result of each of the following indexing?

In [ ]:
# nestedList[2]
# nestedList[1:2]
# nestedList[1][1]
# nestedList[3][0][1]
# nestedList[2][0]
# nestedList[3][0][0][2]
# nestedList[3][0][0][2::-1]